
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB7IhY6ENIFHUjkaTVQ8UJua9MChQSlA28",
    authDomain: "patient-queue-89500.firebaseapp.com",
    databaseURL: "https://patient-queue-89500.firebaseio.com",
    projectId: "patient-queue-89500",
    storageBucket: "patient-queue-89500.appspot.com",
    messagingSenderId: "331684236394",
    appId: "1:331684236394:web:1b8d89f19453feaf"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<h1>Welcome</h1>
