
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>



<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
<script src="/scripts/uiEmbelishment.js" charset="utf-8"></script>

<link rel="stylesheet" href="/styles/style.css">
<script src="/scripts/main.js" charset="utf-8"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB7IhY6ENIFHUjkaTVQ8UJua9MChQSlA28",
    authDomain: "patient-queue-89500.firebaseapp.com",
    databaseURL: "https://patient-queue-89500.firebaseio.com",
    projectId: "patient-queue-89500",
    storageBucket: "patient-queue-89500.appspot.com",
    messagingSenderId: "331684236394",
    appId: "1:331684236394:web:1b8d89f19453feaf"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
const db = firebase.firestore();

</script>

<body>
<div class = "mainContainer">
<h1 style = "display:none;" id = "roomId"><%= roomId %></h1>
<h2 id = "roomDescriptionDisplay"></h2>
<h3 id = "roomLocationDisplay"></h3>
<br>
<form id="verification-form">
  <h4 id="verificationFormHeading">Please enter the 6 digit code to verify you are in the correct room</h4>
  <input id = "passcode-input" type = "number">
  <button>Submit</button>
</form>


<form id ="newPatient-form" style = "display: none;">
  <p>Your Ticker Number:</p>
  <h4 id = "ticketNum"></h4>
  <p>Pick an avatar</p>
  <div class = "avatarSelection">
    <div data-id = "1" class = "avatarSelect" style = "background-image:url(/images/avatars/1.svg)"></div>
    <div data-id = "2" class = "avatarSelect" style = "background-image:url(/images/avatars/2.svg)"></div>
    <div data-id = "3" class = "avatarSelect avatarSelect-selected" style = "background-image:url(/images/avatars/3.svg)"></div>
    <div data-id = "4" class = "avatarSelect" style = "background-image:url(/images/avatars/4.svg)"></div>
    <div data-id = "5" class = "avatarSelect" style = "background-image:url(/images/avatars/5.svg)"></div>
  </div>
  <br>
  <button id = "joinLineBtn" class = "btn btn-primary btn-lg btn-block">Join the Line</button>
</form>

</div>
</body>

<script>
  var roomId = $('#roomId').text();
  var passcode;
  var verified = false;
  var roomNum;
  var defaultProcedureTime;
  console.log("running");
  db.collection("waiting-rooms").doc(roomId).get().then((snapshot)=>{
      $('#roomDescriptionDisplay').html("Welcome to the " + snapshot.data().description);
      let loc = snapshot.data().location
      roomNum = loc.room;
      $('#roomLocationDisplay').html(loc.building + " " + getOrdinal(loc.floor) + " floor, room " + loc.room);
      passcode = snapshot.data().passcode;
      defaultProcedureTime = snapshot.data().defaultProcedureTime;
  })


  var patientsRef = db.collection("waiting-rooms").doc(roomId).collection("patients");
  var newPatientNumber;
  var patientAvatarNumber = 3;
  var initialWaitTime = 0;

  $('#verification-form').submit(function(e){
    e.preventDefault();
    if ($('#passcode-input').val() == passcode){
      console.log("verified");
      verified = true;
      $('#verification-form').css('display','none');
      $("#newPatient-form").css("display","block");
      makeNewPatientForm();
    } else {
      $('#verificationFormHeading').html("Your code was incorrect, Please ensure you are in the right room and try again.")
      $('#verification-form').trigger("reset");
    }
  });

  $(document).ready(function(){
    $('.avatarSelect').click(function(){
      console.log("Clicked");
      $('.avatarSelect').removeClass('avatarSelect-selected');
      $(this).addClass('avatarSelect-selected');
      patientAvatarNumber = $(this).data("id")
    });

    $('#joinLineBtn').click(function(e){
      e.preventDefault();
      let curTimeStamp = new Date();
      patientsRef.add({
        timestamp: curTimeStamp,
        patientNumber: newPatientNumber,
        avatarNumber: patientAvatarNumber,
        estimatedProcedureTime: defaultProcedureTime,
        initialWaitTime: initialWaitTime
      }).then(function(docRef) {
        console.log("Document written with ID: ", docRef.id);
        window.open("http://localhost:7123/waitingRooms/" + roomId + "/" + docRef.id, "_self");
  });
    })
  });



  function makeNewPatientForm(){
    patientsRef.orderBy('timestamp', 'desc').limit(1).get().then((snapshot)=>{
      if(snapshot.docs.length == 0){
        newPatientNumber = roomNum * 100;
      }
        snapshot.docs.forEach((patient)=>{
          newPatientNumber = patient.data().patientNumber + 1;
          console.log("new patient number = " + newPatientNumber);
            $('#ticketNum').html(newPatientNumber);
        })
    });
    // patientsRef.get().then(function(snapshot) {
    //   patientsBefore = snapshot.size;
    //   if(patientsBefore == 0){
    //     $('#patientsBefore').html("You are first in line!");
    //   } else if (patientsBefore == 1){
    //     $('#patientsBefore').html("You are next in line!");
    //   }
    //   $('#patientsBefore').html(patientsBefore);
    // });
  }


patientsRef.onSnapshot(snapshot =>{
  let changes = snapshot.docChanges();
  changes.forEach(change =>{
    if(change.type == 'added'){
      initialWaitTime += change.doc.data().estimatedProcedureTime;
    }else if (change.type == 'removed'){
      initialWaitTime -= change.doc.data().estimatedProcedureTime;
    }
  })
})

</script>
